version: '3.8'

services:
  node-red:
    build: ./node-red
    container_name: skinxpert_nodered
    ports:
      - "1880:1880"
    volumes:
      - nodered_data:/data
      - ./skin.json:/data/flows.json
    networks:
      - skinxpert_network

volumes:
  nodered_data:

networks:
  skinxpert_network:
    driver: bridge